@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: "Manrope";
  font-weight: 600;
  background-image: url(./images/bg-pattern.svg);
  background-repeat: no-repeat;
  background-color: #FEFEFE;
  display: flex;
  justify-content: center;
}

main {
  width: 100%;
  background-image: url(./images/pattern-circles.svg);
  background-repeat: no-repeat;
  background-size: 150px;
  background-position: center 57px;
}
main .logo {
  margin: 25% 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
main .logo h1 {
  color: #293356;
  font-weight: 800;
  font-size: 20px;
}
main .logo h2 {
  color: #848EAD;
  font-size: 13px;
}
main .container {
  background: #FFFFFF;
  box-shadow: 0px 20px 30px -5px rgba(127, 137, 185, 0.152073);
  border-radius: 8px;
  margin: 20vh 10vw 0 10vw;
}
main .container .innertop {
  margin: 0% 10%;
  padding: 10% 0;
}
main .container .innertop h2 {
  font-size: 12px;
  font-weight: 800;
  color: #848EAD;
  text-align: center;
}
main .container .innertop .slider {
  width: 100%;
  margin: 10% 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
}
main .container .innertop .slider::-webkit-slider-runnable-track {
  height: 8px;
  background: #A4F3EB;
  border-radius: 5px;
}
main .container .innertop .slider::-webkit-slider-runnable-track:hover {
  background: linear-gradient(to right, #A4F3EB, #ECF0FB);
}
main .container .innertop .slider::-webkit-slider-runnable-track:active {
  background: linear-gradient(to right, #A4F3EB, #ECF0FB);
}
main .container .innertop .slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background: #10D8C4;
  box-shadow: 0px 15px 30px rgba(0, 255, 231, 0.6);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-image: url(./images/icon-slider.svg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  margin-top: -15px;
}
main .container .innertop .price {
  color: #293356;
  font-size: 32px;
  font-weight: 800;
}
main .container .innertop .price #month {
  color: #848EAD;
  font-size: 14px;
  font-weight: 600;
}
main .container .billing {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
main .container .billing h2 {
  color: #848EAD;
  font-size: 12px;
}
main .container .billing p {
  border-radius: 9.5px;
  background: #FEEDE8;
  font-weight: 800;
  font-size: 10px;
  color: #FF8D68;
}
main .container .billing .switch {
  width: 43px;
  height: 22px;
  background: #CFD8EF;
  border-radius: 15px;
  position: relative;
  display: inline-block;
}
main .container .billing .switch input {
  width: 0;
  height: 0;
  opacity: 0;
}
main .container .billing .switch .slider1 {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: gray;
  transition: 0.4s;
  border-radius: 34px;
}
main .container .billing .switch .slider1:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}
main .container .billing .switch .slider1:active {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  right: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}/*# sourceMappingURL=style.css.map */